.git
.git/**
.terraform
**/.terraform/**
*.tfstate
*.tfstate.*
*.tfplan
*.plan
*.tfvars
*.tfvars.json
.env
.env.*
**/.env
**/.env.*
.venv
**/.venv/**
__pycache__
**/__pycache__/**
*.py[cod]
.pytest_cache
**/.pytest_cache/**
.ruff_cache
**/.ruff_cache/**
tests
docs
infra
scripts
models
data
local-data
